/*  */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 1912px;
    max-width: 1912px;
    margin: auto;
}



/* sign */
.sign{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.sign__ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign__ul--li{
    font-size: 13px;
    font-weight: 400;
    color: #7E7E7E;
    gap: 4px;
}

.sign__paragrf{
    color: #3BB77E;
    font-size: 14px;
    font-weight: 700;
}

.sign__ul--li span{
    color: #3BB77E;
}
